<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Line-Up</title>
   

</head>


<body>


<main>

<h1>Albert's Grocery Store</h1>
<div class="lines-container">

    <ul class="line-one ">
        <h2>LINE 1</h2>
        <!-- <img src="../images/register.jpg"> -->

    </ul>

    <ul class="line-two">
        <h2>LINE 2</h2>
        <!-- <img src="../images/cashier.png"> -->
      
    </ul>

    <ul class="line-three">
        <h2>LINE 3</h2>
        <!-- <img src="../images/cashier.png"> -->
     
    </ul>

    <ul class="line-four">
        <h2>LINE 4</h2>
        <!-- <img src="../images/cashier.png"> -->
        
    </ul>

</div>



<form method="POST" class="createChar" action="/">

    <div class="inputField"> 
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
    </div>

    <div class="inputField">
        <label for="require">Number of Items:</label>
        <input type="text" name="items" id="items">
    </div>

    <div class="inputField">
        <label for="lineNum">Line Number:</label>
        <input type="text" name="lineNum" id="lineNum">
    </div>

    <input id="submit" type="submit" value="Enter Line">

</form>

</main>

<script type="module" src="/javascript/features.js"></script>
</body>


</html>






















